/* ======================================  DEFAULT STYLES  ========================================== */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: rgb(245, 245, 245);
    background: rgb(65, 109, 122);
}

img {
    border: none;
    max-width: 100%;
}

a {
    color: rgb(226, 226, 226);
    text-decoration: none;
}

ul, ul li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

header, main {
    padding: 20px;
}

main {
    background-color: #dbebfa;
}

article {
    border-radius: 15px;
    margin-bottom: 20px;
}

.main-styles {
    background-color: #fff;
    padding: 20px;
}

.main-styles h2, .main-styles h3 {
    color: #2756a5;
}

.main-styles p {
    color: #6d6766;
    border-bottom: 1px solid #dbebfa;
    min-width: 47%;
}

/* ======================================  HEADER  ========================================== */

#header {
    background-color: #25509b;
    display: flex;
    /* justify-content: space-between; */
}

.header__avatar {
    margin-right: 20px;
}

.header__info {
    margin: 0 auto;
    min-width: 50%;
}

.header__avatar img {
    border-radius: 30px;
}

.header__info h1 {
    margin: 0 0 5px 0;
    text-align: center;
    font-size: 36px;
    text-shadow: 0 0 15px white;
}

.header__info h2 {
    text-align: center;
    margin: 5px 0 0 0;
}

.header__info-position {
    background-color: #2169d4;
    padding: 15px;
    border-radius: 30px;
    font-weight: 600;
    text-align: center;
}

/* ======================================  SKILLS  ========================================== */

.info-skills__container {
    display: flex;
    min-width: 100%;
    justify-content: space-around;
    text-transform: uppercase;
}

.info-skills_styles li {
    padding: 3px 10px 3px 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 3px;
    transition: all 0.3s ease;
}

.info-skills__container li:nth-child(2n) {
    background-color: #377be2;
}

.info-skills__container li:nth-child(2n - 1) {
    background-color: #306eca;
}

.info-skills__container li:hover {
    background-color: #3982ee;
    text-shadow: 0 0 15px white;
    box-shadow: 0 0 15px white;
}

/* ======================================  ABOUT  ========================================== */

.heading_about {
    color: transparent;
    margin: 0;
    padding: 0;
}

.about_wrapper {
    display: flex;
    justify-content: space-between;
}

.about__left {
    max-width: 50%;
}

.about__right {
    max-width: 50%;
}

.about__content {
    line-height: 30px;
}

.about__links a {
    color: #2756a5;
    font-style: italic;
    font-weight: 700;
    transition: all 0.3s ease;
}

.about__links a:hover {
    cursor: pointer;
    text-shadow: 0 0 15px white;
    color: rgb(255, 0, 0);
}

#about__info {
    padding-bottom: 188px;
}

/* ======================================  CONTACTS  ========================================== */

#contacts {
    background-color: #377be2;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    padding: 20px;
}

.contacts__links {
    display: flex;
}

.contacts__info {
    margin-left: 20px;
}

.contacts__info a:hover {
    text-shadow: 0 0 15px white;
}

.contacts-align {
    position: relative;
    bottom: 20px;
}

.contacts-img_styles img:hover {
    transform: scale(1.1);
}

/* ======================================  HOBBIES  ========================================== */

.hobbies__container {
    display: flex;
    justify-content: space-between;
}

/* ======================================  FOOTER  ========================================== */

footer {
    background-color: #2169d4;
    padding: 0 20px 0 20px;
    position: relative;
}

.footer__info-continer {
    display: flex;
    justify-content: space-between;
}

footer a {
    line-height: 80px;
    font-size: 28px;
    text-shadow: 0 0 15px white;
    font-weight: 700;
}

footer a:hover {
    color: rgb(37, 33, 223);
    text-shadow: 0 0 15px rgb(255, 255, 255);
}

.rs-image {
    position: relative;
    top: 15px;
}