/* ======================================  ABOUT  ========================================== */
#education {
  padding-top: 120px;
  margin-top: -120px;
  padding-bottom: 20px;
}

.heading_about {
  color: transparent;
  margin: 0;
  padding: 0;
  padding-top: 55px;
  margin-top: -55px;
}

.about_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about__left {
  max-width: 35%;
}

.about__right {
  max-width: 65%;
}

.about__content {
  line-height: 30px;
}
#about__code {
  padding: 10px 20px;
}
.about__links {
  a {
    color: $colorLinks;
    font-style: italic;
    font-weight: 700;
    transition: all 0.3s ease;
    letter-spacing: 3px;
    &:hover {
      cursor: pointer;
      text-shadow: 0 0 15px white;
      color: rgb(255, 0, 0);
    }
  }
}

#about__code {
  padding-top: 1px;
}

.about__highlite {
  font-weight: 600;
  color: $colorLinks;
}

.javascript {
  font-size: 12px;
  border-radius: 7px;
  background-color: #414753;
}

pre code.hljs {
  padding: 0px 5px;
}
