/* ======================================  FOOTER  ========================================== */
footer {
  background-color: $backHead;
  padding: 0 20px 0 20px;
  position: relative;
}

.footer__info-container {
  display: flex;
  justify-content: space-between;
}

footer {
  a {
    line-height: 80px;
    font-size: 20px;
    text-shadow: 0 0 15px white;
    font-weight: 700;
    transition: all 0.3s ease;
    &:hover {
      text-shadow: 0 0 0;
    }
  }
}
.footer__github-link {
  a {
    img {
      position: relative;
      top: 17px;
    }
  }
}
.footer__rs-link {
  display: flex;
  gap: 10px;
  align-items: center;
}

.rs-image {
  display: block;
  width: 100px;
}
