/* ======================================  HEADER  ========================================== */
.header__logo {
  font-size: 24px;
  font-weight: 700;
  text-shadow: 0 0 15px #fff;
  padding-left: 20px;
  z-index: 5;
}
.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 10;
  background-color: hsla(218, 19%, 26%, 0.9);
}
.header::after {
  content: "";
  width: calc(100% - 40px);
  margin: 0px auto;
  margin-bottom: 5px;
  border-top: 1px solid rgb(133, 133, 133);
  display: block;
}
.header__container {
  display: flex;
  align-items: center;
}

.header__menu {
  text-shadow: 0 0 15px #fff;
  // padding-top: 30px;
  padding-right: 20px;
  ul {
    display: flex;
    gap: 15px;
    li {
      position: relative;
      a {
        @include mainButton();
      }
    }
  }
}

#header__info-wrapper {
  background-color: $backHead;
  display: flex;
  padding: 130px 20px 20px 20px;
}

.header__avatar {
  margin-right: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    border-radius: 30px;
  }
}

.header__info {
  margin: 0 auto;
  width: 70%;
  h1 {
    margin: 0 0 5px 0;
    text-align: center;
    font-size: 36px;
    text-shadow: 0 0 15px white;
  }
  h2 {
    text-align: center;
    margin: 5px 0 0 0;
    text-shadow: 0 0 5px $textMain;
    letter-spacing: 3px;
    color: $textMain;
  }
}

.header__info-position {
  background-color: $backMain;
  padding: 15px;
  border-radius: 30px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
}

.header__active {
  background-color: #6938af;
}

.header__download {
  margin-top: 20px;
  @include mainButton();
}
