/* ======================================  SKILLS  ========================================== */
#skills {
  padding-top: 100px;
  padding-bottom: 10px;
  margin-top: -70px;
}
.info-skills__container {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-around;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.info-skills_styles {
  li {
    display: flex;
    align-items: center;
    padding: 3px 10px 3px 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 3px;
    background-color: $backMain;
    transition: all 0.3s ease;
    height: 50px;
    &:hover {
      cursor: pointer;
      background-color: $backMain;
      text-shadow: 0 0 15px white;
      box-shadow: 0 0 15px $textMain;
    }
  }
}

.info-skills__content {
  width: 20%;
}
